<nav class="navbar navbar-expand-lg navbar-dark bg-orange" style="background-image: linear-gradient(to right, #ffffff, #ffffff);"> <!-- Apply the gradient background -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link" id="home" href="/">Home</a>
      <a class="nav-item nav-link" id="hotels" href="/hotels">Hotels</a>
      <a class="nav-item nav-link" id="Reservations" href="/Reservations">Reservations</a>
      <a class="nav-item nav-link" id="login" href="/login">Login</a>
      <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
      <a class="nav-item nav-link" id="about" href="/about">About</a>
    </div>
  </div>
</nav>
