{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
	<p>This is a hotel reservation application, made by:</p>
  <ul>
    <li>Jesper Lyhne Søndergaard Lind - rpz829</li>
	<li>Jimmy Huynh - plg852</li>
	</ul>

	<p>You can login with a given account, where your role is a customer.</p>	
	<p>To login use the username: 'test-customer', and the password: 'hotels'.</p>
	<p>You cannot make or remove a reservation wihout being logged in, and you will be redirected to the login page.</p>
	<p>When browsing the different hotels, you can sort them by different attributes.</p>

{% endblock content %}