{% extends "layout.html" %}
{% block title %}Hotels{% endblock %}

{% block content %}
    <h1 class="header">Hotels</h1>
    <div class="hotels-body">
        <div class="btn-group" role="group" aria-label="Sort Hotels">
            <form action="{{ url_for('Hotels.sort_hotels_by_column', column_name='ID') }}" method="GET">
                <button type="submit" class="btn btn-sort">Sort by ID</button>
            </form>
            <form action="{{ url_for('Hotels.sort_hotels_by_column', column_name='Owner') }}" method="GET">
                <button type="submit" class="btn btn-sort">Sort by Owner</button>
            </form>
            <form action="{{ url_for('Hotels.sort_hotels_by_column', column_name='Name') }}" method="GET">
                <button type="submit" class="btn btn-sort">Sort by Name</button>
            </form>
            <form action="{{ url_for('Hotels.sort_hotels_by_column', column_name='Type') }}" method="GET">
                <button type="submit" class="btn btn-sort">Sort by Type</button>
            </form>
            <form action="{{ url_for('Hotels.sort_hotels_by_column', column_name='Location') }}" method="GET">
                <button type="submit" class="btn btn-sort">Sort by Location</button>
            </form>
            <form action="{{ url_for('Hotels.sort_hotels_by_column', column_name='Availability') }}" method="GET">
                <button type="submit" class="btn btn-sort">Sort by Availability</button>
            </form>
        </div>
        <div id="hotels-table-container">
            <table class="table table-striped table-happy">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Owner</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Location</th>
                        <th>URL</th>
                        <th>Availability</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hotel in hotels_data %}
                    <tr>
                        <td>{{ hotel[0] }}</td>
                        <td>{{ hotel[1] }}</td>
                        <td>{{ hotel[2] }}</td>
                        <td>{{ hotel[3] }}</td>
                        <td>{{ hotel[4] }}</td>
                        <td>{{ hotel[5] }}</td>
                        <td>{{ hotel[6] }}</td>
                        <td>
                            {% if hotel[6] == 'Available' %}
                                <form action="{{ url_for('Hotels.reserve_hotel') }}" method="POST">
                                    <input type="hidden" name="hotel_id" value="{{ hotel[0] }}">
                                    <button type="submit" class="btn btn-primary">Book</button>
                                </form>
                            {% else %}
                                <form action="{{ url_for('Hotels.cancel_reservation') }}" method="POST">
                                    <input type="hidden" name="hotel_id" value="{{ hotel[0] }}">
                                    <button type="submit" class="btn btn-danger">Cancel</button>
                                </form>
                            {% endif %}
                        </td>                      
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
